<!--ng.defaultHeaderCellTemplate-->
<div data-bind="click: $data.sort(), css: { 'ngSorted': !noSortVisible, $data.headerClass }" class="ngHeaderSortColumn {{}}">
    <div data-bind="css: 'colt' + $index, html: $data.displayName" class="ngHeaderText"></div>
    <div class="ngSortButtonDown" ng-show="$data.showSortButtonDown()"></div>
    <div class="ngSortButtonUp" ng-show="$data.showSortButtonUp()"></div>
</div>
<div data-bind="visible: col.resizable, click: $data.gripClick($event), event: { onmousedown: $data.gripOnMouseDown($event) }" class="ngHeaderGrip" ></div>